@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    src: url("../fonts/OpenSans-Bold.woff");
    src: url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular.woff");
    src: url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
ul,
li,
button,
input {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

picture {
    display: block;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 23px;
}


/* Base classes */

.container {
    margin: 0 20px;
}

.mask {
    position: relative;
    z-index: 0;
}

.mask:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background: rgba(6, 4, 74, 0.8);
}

/* App download links*/

.app-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 84px;
}

.app-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e42b0;
    color: #ffffff;
    padding-left: 90px;
    height: 35px;
    font-size: 0.8rem;
    border-radius: 38px;
    margin-bottom: 14px;
    width: 100%;
}

.app-link svg {
    height: 25px;
    fill: #ffffff;
}

.app-link span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 9px;
}


/*Header*/

.header {
    height: 100vh;
    background-image: url("../images/img/football_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.text-logo {
    height: 36px;
    margin: 36px 0;
}

.text-logo svg {
    height: 100%;
    fill: #ffffff;
}

.header-title {
    display: block;
    width: 100%;
    color: #ffffff;
    line-height: 1.3;
}

.header-title span{
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 2rem;
}


/* Main page content */

.content-header {
    color: #e7e7e7;
    margin-top: 18px;
    margin-bottom: 24px;
}

.content-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-image {
    margin-bottom: -50px;
    z-index: 10;
}

.content-article-wrapper {
    padding-top: 60px;
    padding-bottom: 55px;
}

.content-article-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
    color: #c1c1c1;
}

.content-article-number {
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-right: 7px;
}

.content-article-number:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background: #5e42b0;
    border-radius: 1.5px;
}

.content-article-text {
    font-size: 15px;
    line-height: 18px;
}

.content-article {
    background-color: #fafafa;
}

.content-article.grey {
    background-color: #f5f4f9;
}

.content-article.violet {
    background-color: #5e42b0;
}

.content-article.dark {
    background-color: #090c35;
}

.content-article.violet .content-article-number:after {
    background: #ffffff;;
}

.content-article.violet .content-article-text {
    color: #ffffff;
}

.content-article.dark .content-article-number {
    color: #ffffff;
}

.main-content-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -55px;
}


/* Principles */
.principle-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.principle-image img{
    width: 100%;
    height: 100%;
}

.principle-article {
    position: relative;
    padding-top: 34px;
    padding-bottom: 34px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.principle-article-title {
    position: relative;
}

.principle-header {
    color: #e7e7e7;
    margin-bottom: 24px;
}

.principle-text {
    font-size: 16px;
    line-height: 1.25;
}

.principle-article-number {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e42b0;
    color: #f5f6f7;
    top: -90px;
}

.principle-article-number span {
    position: relative;
}

.principle-article-number span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background: #f5f6f7;
    opacity: 0.5;
    border-radius: 1.5px;
}


/* Footer */

.footer {
    height: 100vh;
    background-image: url("../images/img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.footer-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.app-icon {
    width: 72px;
    height: 74px;
    background-color:#5e42b0;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-icon svg {
    display: block;
    width: 80%;
    fill: #ffffff;
}

.download-title {
    text-align: center;
    margin-top: 60px;
}

.download-title h2 {
    color: #ffffff;
    font-size: 32px;
}

.download-title p {
    color: #9b8ec1;
    margin-top: 4px;
    font-size: 14px;
    text-transform: uppercase;
}

.footer .app-links {
    margin: 0;
}


/*Desktop Screens*/
@media (min-width: 961px) and (max-width: 1920px) {
  
    h1 {
        font-size: 9rem;
    }
    h2,
    h3 {
        font-size: 8rem;
    }
    h4 {
        font-size: 3.6rem;
    }
    .container {
        margin: 0 10%;
    }

    .app-links {
        margin-bottom: 110px;
    }
    .app-link {
        padding: 0;
        justify-content: center;
    }
    .app-link:not(:last-child) {
        margin-right: 51px;
    }
    .app-links .app-link {
        height: 77px;
        width: 311px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .app-links .app-link svg {
        height: 50px;
    }
    .app-links .app-link span {
        margin-left: 26px;
    }

    .header {
        background-image: url("../images/img/football_1920.jpg");
    }
    .text-logo {
        height: 45px;
        margin: 45px 0;
    }
    .footer {
        background-image: url("../images/img/game_1920.jpg");
    }

    .content-section-container {
        position: relative;
        flex-direction: row;
    }

    .content-articles-container {
        flex: 1;
    }

    .players .content-section-container {
        flex-direction: row-reverse;
    }

    .athletes .container {
        margin-left: 50%;
    }

    .players .container {
        margin-right: 50%;
    }

    .content-header {
        margin-top: 116px;
        margin-bottom: 50px;
    }

    .content-article {
        background-color: #ffffff;
    }
    
    .content-article-wrapper {
        padding-top: 55px;
        padding-bottom: 50px;
    }

    .content-image {
        position: absolute;
     }

    .athletes .content-image {
        top: -180px;
        right: calc(50% + 50px);
    }

    .players .content-image {
        top: -210px;
        left: calc(50% - 125px);
    }
    
    .content-article-text {
        font-size: 20px;
        line-height: 28px;
    }
    .content-article-number {
        font-size: 18px;
    }

    .principle-item {
        flex-wrap: nowrap;
    }

    .principle-image {
        flex-basis: 50%;
    }

    .principle-article {
        width: 50%;
        margin: 0;
        padding: 0 120px;
    }

    .principle-header {
        margin-bottom: 100px;
    }

    .principle-text {
        font-size: 24px;
    }

    .principle-item:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .principle-article-number {
        width: 168px;
        height: 155px;
        font-size: 24px;
        top: 0px;
        left: -204px;
    }

    .principle-item:nth-child(2n) .principle-article-number {
        right: -204px;
        left: initial;
    }

    .page-footer-title h2 {
        font-size: 80px;
    }
    .page-footer-title p {
        font-size: 30px;
    }

    .download {
        flex-direction: row;
        margin-top: 230px;
        margin-bottom: 100px;
    }
    
    .app-icon {
        width: 130px;
        height: 137px;
    }
    
    .download-title {
        margin: 0;
        margin-left: 30px;
        text-align: left;
    }
    
    .download-title h2 {
        font-size: 80px;
    }
    
    .download-title p {
        font-size: 30px;
    }
}

/*Tablet Screens*/

@media (min-width: 641px) and (max-width: 960px) {
    h1 {
        font-size: 9rem;
    }
    h2,
    h3 {
        font-size: 8rem;
    }
    h4 {
        font-size: 3.2rem;
    }
    .container {
        margin: 0 50px;
    }
    .header {
        background-image: url("../images/img/football_767.jpg");
    }
    .text-logo {
        height: 56px;
        margin: 40px 0;
    }
    .footer {
        background-image: url("../images/img/game_767.jpg");
    }

    .app-links {
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 91px; 
    }

    .app-link {
        padding: 0;
        justify-content: center;
    }

    .app-link:not(:last-child) {
        margin-right: 51px;
    }
    .app-links .app-link {
        height: 77px;
        width: 311px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .app-links .app-link svg {
        height: 50px;
    }
    .app-links .app-link span {
        margin-left: 26px;
    }

    .content-section-container {
        position: relative;
        flex-direction: row;
    }

    .content-articles-container {
        flex: 1;
    }

    .players .content-section-container {
        flex-direction: row-reverse;
    }

    .athletes .container {
        margin-left: 45%;
    }

    .players .container {
        margin-right: 45%;
    }

    .content-header {
        margin-top: 86px;
        margin-bottom: 20px;
    }

    .content-article {
        background-color: #ffffff;
    }
    
    .content-article-wrapper {
        padding-top: 42px;
        padding-bottom: 34px;
    }

    .content-image {
        position: absolute;
     }

    .athletes .content-image {
        top: -80px;
        right: 55%;
    }

    .players .content-image {
        top: -130px;
        right: 0;
    }
    
    .content-article-text {
        font-size: 16px;
        line-height: 28px;
    }
    .content-article-number {
        font-size: 18px;
    }

    .principle-article {
        position: relative;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .principle-text {
        font-size: 24px;
    }

    .principle-article-number {
        width: 116px;
        height: 116px;
        font-size: 24px;
        top: -180px;
    }
    
    .app-icon {
        width: 130px;
        height: 137px;
    }
    
    .download-title h2 {
        font-size: 80px;
    }
    
    .download-title p {
        font-size: 36px;
    }
}