@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    src: url("../fonts/OpenSans-Bold.woff");
    src: url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular.woff");
    src: url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
ul,
li,
button,
input {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

@media (min-width: 961px) and (max-width: 1920px) {
    /*Desktop Screens*/

    header.page-header {
        background-image: url("../images/img/football_1920.jpg");  
    }

    footer.page-footer {
        background-image: url("../images/img/game_1920.jpg");  
    }

    header .text-logo {
        height: 45px;
        margin: 33px 0;
    }

    .header-title {
        font-size: 90px;
    }

    .app-links {
        margin-bottom: 110px;
    }

    .app-link:not(:last-child) {
        margin-right: 51px;
    }

    .app-links .app-link {
        height: 77px;
        width: 311px;
        font-size: 14px;
        margin-bottom: 0;
    }

    .app-links .app-link svg {
        height: 48px;
    }

    .app-links .app-link span {
        margin-left: 26px;
    }
  }
  
@media (max-width: 640px) {
     /*Mobile Screens*/

    .header-title {
        font-size: 28px;
    }
  }
  
header, footer {
    padding: 0 20px;
}

/*Header*/

.page-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url("../images/img/football_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* .page-header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.text-logo {
    display: inline-block;
    height: 36px;
    margin: 33px 0;
}

.text-logo svg {
    height: 100%;
    fill: #ffffff;
}

.header-title {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}


.app-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 84px;
}

.app-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e42b0;
    color: #ffffff;
    min-width: 280px;
    height: 35px;
    font-size: 8px;
    border-radius: 38px;
    margin-bottom: 14px;
}

.app-link svg {
    height: 25px;
    fill: #ffffff;
}

.app-link span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 9px;
    flex-wrap: wrap;
}

/*main*/

.page-content-article {
    height: 250px;
    padding: 0 20px;
}

.page-content-article.first {
    background-color: #fafafa;
}

.page-content-article.second {
    background-color: #f5f4f9;
}

.page-content-article.third {
    background-color: #5e42b0;
}

.page-content-article.third.dark {
    background-color: #090c35;
}


.article-title {
    display: flex;
    align-items: center;
}

.article-title .article-number {
    color: #000;
    margin-right: 7px;
}

.article-title h3 {
   color: #c1c1c1;
   text-transform: uppercase;
}

h2 {
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin-top: 24px;
    margin-left: 21px;
}

.first-content-item-image {
    position: relative;
    margin: 20px 58px 28px 70px;
}

h3 {
    color: #c1c1c1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
}

.article-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-number {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 35px;
}

.content-text-block {
    display: block;
    height: 215px;
    width: 320px;
}

/* Footer */

.page-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url("../images/img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.download-app {
    margin-top: 99px;
    flex-direction: column;
    align-items: center;
}

.app-icon {
    display: flex;
    align-items: center;
    background: #5e42b0;
    height: 72px;
    width: 72px;

    /* Поменять */
    border-radius: 10px;
}

.app-icon svg{
    margin: 0 auto;
    fill: white;
    height: 64%;
}




